extends ../layout

block content
  h2 This is register page
  p This will be used by new customers for account creation
  p The JS for this file should be at path /static/js/auth/register.js

block scripts
  script(src="/js/auth/register.js")
