extends ../../layout

block content
  h2 This is admin appointments page
  p This will be used by administrators for appointment management
  p The JS for this file should be at path /static/js/admin/appointments.js
