extends ../layout

block content
  h1 Appointments Management
  p View and manage all appointments
  
  #appointments-container
    p Loading appointments...

  script(src="/js/admin/appointments.js")
