extends ../layout
include ../partials/_adminSidebar

block content
  .app-layout
    +adminSidebar('appointments')

    .main-content
      .page-header
        span.breadcrumb Cancel Appointment

      .page-body
        h1.page-title Cancel Appointment
        p.page-subtitle Cancel customer appointments

block scripts
