extends ../layout
include ../partials/_adminSidebar

block content
  .app-layout
    +adminSidebar('appointments')

    .main-content
      .page-header
        span.breadcrumb Complete Appointment

      .page-body
        h1.page-title Complete Appointment
        p.page-subtitle Mark appointments as completed

block scripts
