extends ../layout
include ../partials/_adminSidebar

block content
  .app-layout
    +adminSidebar('appointments')

    .main-content
      .page-header
        span.breadcrumb Confirm Appointment

      .page-body
        h1.page-title Confirm Appointment
        p.page-subtitle Confirm customer appointments

block scripts
