extends ../layout
include ../partials/_adminSidebar

block content
  .app-layout
    +adminSidebar('create-staff')

    .main-content
      .page-header
        span.breadcrumb Create Staff

      .page-body
        h1.page-title Create Staff Account
        p.page-subtitle Add new staff members

block scripts
