extends ../../layout

block content
  h2 This is admin staff page
  p This will be used by administrators for staff management
  p The JS for this file should be at path /static/js/admin/staff.js

block scripts
  script(src="/js/admin/staff.js")
