extends ../layout
include ../partials/_adminSidebar

block content
  .app-layout
    +adminSidebar('staff')

    .main-content
      .page-header
        span.breadcrumb Staff Management

      .page-body
        h1.page-title Staff
        p.page-subtitle Manage your salon staff members

        button.btn-primary(onclick="openAddStaffModal()") + Add Staff

        table.appointments-table
          thead
            tr
              th #
              th Name
              th Email
              th Phone
              th Gender
              th Actions
          tbody#staff-table-body
            tr
              td(colspan="6")
                .loading-spinner-wrap
                  .spinner
                  p Loading staff...

  //- Add / Edit Staff Modal
  .modal-overlay#staff-modal
    .modal
      .modal-header
        h3#staff-modal-title Add Staff Member
        button.modal-close(onclick="closeModal('staff-modal')") &times;
      .modal-body
        form#staff-form
          .form-group
            label(for="staff-name") Name
            input#staff-name(type="text" required)
          .form-group
            label(for="staff-email") Email
            input#staff-email(type="email" required)
          .form-group
            label(for="staff-phone") Phone
            input#staff-phone(type="text" required)
          .form-group
            label(for="staff-password") Password
            input#staff-password(type="password")
          .form-group
            label(for="staff-gender") Gender
            select#staff-gender
              option(value="female") Female
              option(value="male") Male
          .modal-actions
            button.btn-outline(type="button" onclick="closeModal('staff-modal')") Cancel
            button.btn-primary(type="submit") Save

  //- Deactivate Confirmation Modal
  .modal-overlay#delete-staff-modal
    .modal
      .modal-header
        h3 Deactivate Staff Member
        button.modal-close(onclick="closeModal('delete-staff-modal')") &times;
      .modal-body
        p Are you sure you want to deactivate this staff member? They will no longer appear in staff lists.
        .modal-actions
          button.btn-outline(type="button" onclick="closeModal('delete-staff-modal')") Cancel
          button.btn-primary.btn-action-danger(type="button" onclick="confirmDeleteStaff()" style="border-color:#e74c3c; color:#e74c3c;") Deactivate

block scripts
  script(src="/js/admin/staff.js")
