extends ../layout
include ../partials/_adminSidebar

block content
  .app-layout
    +adminSidebar('statistics')

    .main-content
      .page-header
        span.breadcrumb Statistics

      .page-body
        h1.page-title Statistics
        p.page-subtitle View salon statistics and reports

block scripts
