extends ../layout

block content
  h2 This is book appointment page
  p This will be used by customers for booking salon appointments
  p The JS for this file should be at path /static/js/appointments/book.js

block scripts
  script(src="/js/appointments/book.js")
