extends ../layout

block content
  h2 This is appointments list page
  p This will be used by customers for viewing their appointments
  p The JS for this file should be at path /static/js/appointments/list.js

block scripts
  script(src="/js/appointments/list.js")
