extends layout

block content
  h2 This is landing page of SalonEase
  p Here we will show static content and login / register buttons
  
  .actions
    a(href="/auth/login") Login
    a(href="/auth/register") Register
    a(href="/services/list") View Services