extends layout

block content
  .container
    h1 Welcome to SalonEase
    p This is the landing page of SalonEase - Salon Appointment Management System
    
    .actions
      a(href="/auth/login") Login
      a(href="/auth/register") Register