doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title SalonEase
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/utilities/notifications.js")
    script(src="/js/utilities/apiRequests.js")
    script(src="/js/logout.js")
  body
    header.topbar
      .topbar-inner
        a.brand(href="/") SalonEase
    block content
    block scripts