doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title SalonEase
    link(rel="stylesheet" href="/css/style.css")
  body
    header.topbar
      .topbar-inner
        a.brand(href="/") SalonEase
    block content
    
    nav.sidebar
    a.sidebar-item(href="#") Services
    a.sidebar-item.active(href="#") My Appointments
    a.sidebar-item(href="#") Book
    a.sidebar-item.logout(href="#") Log out