extends ../layout
include ../partials/_customerSidebar
include ../partials/_appointmentCard

block content
  .app-layout
    +customerSidebar('appointments')

    .main-content
      .page-header
        span.breadcrumb My Appointments

      .page-body
        h1.page-title My Appointments
        p.section-label UPCOMING & PAST

        #appointments-container
          p Loading appointments...

    +appointmentCardTemplate()

  script(src="/js/customer/appointments.js")