extends ../layout

block content
  .app-layout
    nav.sidebar
      a.sidebar-item(href="#") Services
      a.sidebar-item.active(href="#") My Appointments
      a.sidebar-item(href="#") Book

    .main-content
      .page-header
        span.breadcrumb My Appointments

      .page-body
        h1.page-title My Appointments
        p.section-label UPCOMING & PAST

        table.appointments-table
          thead
            tr
              th Service
              th Date
              th Time
              th Status
              th Action
          tbody
            tr
              td.appt-service Haircut
              td 12 Apr 2025
              td 10:00
              td
                span.badge.badge-confirmed confirmed
              td
                a.btn-cancel(href="#") Cancel
            tr
              td.appt-service Manicure
              td 20 Apr 2025
              td 15:30
              td
                span.badge.badge-review under review
              td
                a.btn-cancel(href="#") Cancel
            tr
              td.appt-service Hair treatment
              td 5 Mar 2025
              td 11:00
              td
                span.badge.badge-completed completed
              td
            tr
              td.appt-service Hair colouring
              td 1 Mar 2025
              td 09:00
              td
                span.badge.badge-cancelled cancelled
              td