extends ../layout
include ../partials/_customerSidebar

block content
  .app-layout
    +customerSidebar('services')

    .main-content
      .page-header
        span.breadcrumb Our Services

      .page-body
        h1.page-title Services

        #services-grid.services-grid
          .loading-spinner-wrap
            .spinner
            p Loading services...

block scripts
  script(src="/js/customer/services.js")